@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&family=Caveat&family=Permanent+Marker&display=swap');

body {
	background-color: black;
	padding: 0;
	margin: 0;
}

.header {
	background-color: rgb(73, 70, 70);
	width: 100%;
	/* height: 150px; */
	height: 5vw;
	max-height: 150px;
	min-height: 25px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.content {
	background-color: #6A7B8C;
	width: 100%;
	height: calc(100vh - 210px);
	display: flex;
	flex-direction: row;
}

.leftColumn, .middleColumn, .rightColumn {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.leftColumn {
	width: 25%;
}
.middleColumn {
	width: 50%;
}
.rightColumn {
	width: 25%;
}
.leftContent, .middleContent, .rightContent {
	height: 100%;
	border: 1px solid black;
}

.footer {
	background-color: rgb(73, 70, 70);
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer h2 {
	color: white;
	text-align: center;
	font-size: 2.5em;
	letter-spacing: 5px;
	font-family: 'Lobster', cursive;
	margin: 0 15px;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 175px;
	padding-left: 5px;
}
.logo img {
	height: 5vw;
	max-height: 150px;
	min-height: 25px;
}

.nav {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.nav ul {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
	list-style-type: none;
	justify-content: space-evenly;
	padding: 0;
	margin: 0;
}
.nav ul li {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
	border-radius: 5px;
	margin: 0 50px;
	background-color: #5A5A5A;
	cursor: pointer;
	width: 25%;
	height: 95%;
}

.nav ul .activeTab {
	background-color: #4682B4;
}

.nav ul li a {
	text-decoration: none;
	color: white;
	font-size: 3vw;
	text-transform: uppercase;
	font-family: 'Permanent Marker', cursive;
}

.user {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 95%;
	width: 175px;
	padding-right: 5px;
}
.user i {
	font-size: 3vw;
}
.user button {
	background-color: #4CAF50;
	color: white;
	border: none;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
