[class^="leftContent"],[class^="middleContent"],[class^="rightContent"] {
    /* border: 1px solid white; */
    height: 100%;
}
.content {
    background-color: black;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 5vw - 60px);
    width: 100%;
}
.leftColumn,
.middleColumn,
.rightColumn {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.leftColumnChores {
    width: 0;
}
.leftColumnHome {
    width: 25%;
}
.leftColumnMeals {
    width: 33.33%;
}
.leftColumnSettings {
    width: 0;
}
.middleColumnChores {
    width: 100%;
}
.middleColumnHome {
    width: 50%;
}
.middleColumnMeals {
    width: 33.33%;
}
.middleColumnSettings {
    width: 100%;
}
.rightColumnChores {
    width: 0;
}
.rightColumnHome {
    width: 25%;
}
.rightColumnMeals {
	width: 33.33%;
}
.rightColumnSettings {
    width: 0;
}