[class^="leftContent"],[class^="middleContent"],[class^="rightContent"] {
    height: 100%;
    border: 1px solid white;
}
.content {
    background-color: black;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 5vw - 60px);
    width: 100%;
}
.leftColumn,
.middleColumn,
.rightColumn {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.leftColumnChores {
    width: 15%;
}
.leftColumnHome {
    width: 30%;
}
.leftColumnMeals {
    width: 33.33%;
}
.leftColumnSettings {
    width: 15%;
}
.middleColumnChores {
    width: 85%;
}
.middleColumnHome {
    width: 55%;
}
.middleColumnMeals {
    width: 33.33%;
}
.middleColumnSettings {
    width: 85%;
}
.rightColumnChores {
    width: 0;
}
.rightColumnHome {
    width: 15%;
}
.rightColumnMeals {    width: 33.33%;}.rightColumnSettings {    width: 0;}