.entry {
	color: #ffffff;
}
.entryError {
	color: #ff0000;
}
.entrySuccess {
	color: #00ff00;
}
.inputScreen {
	align-items: center;
	background-image: url('../images/login.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 6.5vw);
	justify-content: center;
	position: relative;
}

.inputScreen::before {
	background-color: rgba(0, 0, 0, 0.35);
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.inputScreen > * {
	position: relative;
	z-index: 2;
}

.keypad {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 18vw;
	justify-content: center;
}

.keypadBottom,
.keypadMiddle,
.keypadTop{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: .25vw;
}

.keypadZeroClr {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	gap: .25vw;
	margin: .25vw;
}

.keypadBox {
	align-items: center;
	background-color: #404040;
	border: .5vw solid #303030;
	border-radius: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1vw;
}

.keypadDisplay {
	align-items: center;
	background-color: #202020;
	border: .15vw solid #101010;
	border-radius: 25px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
	display: flex;
	height: 3vw;
	justify-content: center;
	text-align: center;
	margin-bottom: 1.5vw;
	width: 15vw;
}

.keypadDisplay h1 {
	font-size: 3vw;
	line-height: 3vw;
	margin: 1vw;
	letter-spacing: calc(25% - 1ch);
	width: 100%;
	min-height: 3vw;
}

.keypadNumber {
	background-color: #90c0f0;
	border: .15vw solid #202020;
	border-radius: 50%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
	color: #000080;
	cursor: pointer;
	font-size: 2vw;
	font-weight: 900;
	height: 4vw;
	line-height: 3vw;
	width: 4vw;
	text-align: center;
	transition: background-color 0.1s, box-shadow 0.3s;
}

.keypadNumber:active {
	background-color: #6090c0;
	box-shadow: 0 2px 4px #f0f0ff, 0 3px 10px #f0f0ff;
	color: #202060;
	transform: translateY(2px);
}

.loginError {
	color: #ff0000;
	font-family: 'Roboto', sans-serif;
	font-size: 2.5vw;
}

.loginHeader {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 2.5vw;
}

.loginSuccess {
	color: #00ff00;
	font-family: 'Roboto', sans-serif;
	font-size: 2.5vw;
}

.loginTitle {
	display: flex;
	flex-direction: column;
	text-align: center;
}