.logo {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-left: 5px;
    margin-top: 5px;
    width: 175px;
}
.logo img {
    height: 5vw;
    max-height: 150px;
    min-height: 25px;
}
.nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.nav ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.nav ul .activeTab {
    background-color: #4682B4;
}
.nav ul li {
    align-items: center;
    background-color: #5A5A5A;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 90%;
    justify-content: center;
    margin: 5px 50px;
    width: 25%;
}
.nav ul li a {
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 3vw;
    text-decoration: none;
    text-transform: uppercase;
}
.refresh {
    align-items: center;
    display: flex;
    height: 90%;
    justify-content: flex-end;
    margin-right: 5px;
    margin-top: 5px;
    width: 175px;
}