.timers {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
	padding: 20px;
	height: 50%;
	background-color: rgba(51, 99, 161, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.countdown {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
}

.timer-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.timer-buttons button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.timer-buttons button:active {
    background-color: #0056b3;
}

.custom-timer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.custom-timer button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 20px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.custom-timer button:active {
    background-color: #45a049;
}

.custom-timer span {
    font-size: 1.5em;
    color: #ffffff;
    margin: 0 20px;
}

.control-buttons {
    display: flex;
    gap: 10px;
}

.control-buttons button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.control-buttons button:active {
    background-color: #c82333;
}